{% extends "base.html" %}
{% block title %}Building Energy Rating{% endblock %}

{% block content %}
	<h2>Building Energy Rating</h2>
			<p>A building energy rating or BER for a new or existing dwelling is 
			now a legal requirement if you are selling or renting a property. 
			Non compliance can result in a fine of up to €5000.</p>
			<p>&nbsp;</p>
			<p>A BER is basically an energy efficiency rating like you get for 
			your fridge or your washing machine. A1 being the most efficient and 
			G being the least efficient. There is no pass or fail, it is just 
			another piece of information being made available to prospective 
			buyers or renters to enable them to make an informed decision before 
			they purchase or lease the dwelling.</p>
			<p>&nbsp;</p>
			<p STYLE="margin-bottom: 0cm">An advisory report of how the rating 
			can be improved is issued with each BER but it is the decision of 
			the home owner whether they want to act on it or not.</p>
			<p STYLE="margin-bottom: 0cm">&nbsp;</p>
			<p STYLE="margin-bottom: 0cm">In the current economic climate we 
			strive to provide a BER at the lowest cost possible to the customer. 
			Generally a BER cost will depend on the size of the property as a 
			detailed site survey is required with rooms sizes measured and 
			heating and insulation details recorded. Call us now on 0876341300 
			for a quote. </p>
			<p STYLE="margin-bottom: 0cm">&nbsp;</p>
			<p STYLE="margin-bottom: 0cm">All prices we quote will include VAT 
			but will not include the BER cert fee charged by Sustainable Energy 
			Ireland (S.E.I.) of €25 + VAT.</p>
			<!-- /comments -->
{% endblock %}
     