{% extends "base.html" %}
{% block title %}Gas{% endblock %}

{% block content %}

<h2>Gas Services</h2>
			<h2>Gas appliance service charges</h2>
			<ul>
				<li>Gas system Boiler Servicing €80</li>
				<li>Gas combi or condensing boiler service €100</li>
				<li>Gas Fire Servicing €65</li>
				<li>Gas Boiler and Fire service together €120</li>
			</ul>
			<h2>Summer special offers:</h2>
			<p>All servicing charges reduced to prices listed below during June, 
			July and August</p>
			<ul>
				<li>Gas Boiler Servicing €70</li>
				<li>Gas combi or condensing boiler service €90</li>
				<li>Gas Fire Servicing €50</li>
				<li>Gas Boiler and Fire service together €90</li>
				<li>Repair/Breakdown charges</li>
			</ul>
			<p>Repair call out €80 which covers the first hour and €20 per 
			15mins after that plus parts cost if required. In the event it is a 
			minor fault that is easily fixed we will service the boiler for the 
			cost of the callout.</p>
			<p>Note: All prices quoted include VAT</p>
			<p>&nbsp;</p>
			<!-- /comments -->
			
{% endblock %}