{% extends "base.html" %}
{% block title %}Oil{% endblock %}

{% block content %}

<h2>Oil Services</h2>
			<p>Oil fired appliance service charges</p>
			<p>&nbsp;</p>
			<p>Oil fired Boiler Servicing €80</p>
			<p>Oil combi or condensing boiler servicing €100</p>
			<h2>Summer special offers:</h2>
			<p>All servicing charges reduced to prices listed below during June, 
			July and August</p>
			<ul>
				<li>Oil Boiler Servicing €70</li>
				<li>Oil combi or condensing boiler servicing €90</li>
				<h2>Repair/breakdown costs</h2>
				<p>Repair call out €80 which covers the first hour and €20 per 
				15mins after that plus parts cost if required. In the event it 
				is a minor fault that is easily fixed we will service the boiler 
				for the cost of the callout.</p>
				<p>Note: All prices quoted include VAT</p>
				<p>&nbsp;</p>
			</ul>
			<!-- /comments -->
			
{% endblock %}