{% extends "base.html" %}
{% block title %}Sign in{% endblock %}

{% block content %}
<h2 style="height: 30px">Customer Login</h2>
			<form method="post" action=""> 
  				<div class="style1" style="width: 163px">Email Address: <input type="text" name="email" size="15" /><br /> <br />Password: <input type="password" name="password" size="15" /><br />
					<br />
					<br />
					<input type="submit" value="Login" /><br /> 
  			  </div> 
  <div> 
    <p>&nbsp;</p>
	  <p><a href="register.html">Not Registered? Click here to register as a 
	  customer.</a></p> 
  </div> 
			</form>
{% endblock %}