vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|22 Feb 2010 14:11:16 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|html/ber.html html/contact.html html/oil.html html/login.html index.html html/gas.html html/register.html
vti_author:SR|Mark-PC\\Mark
vti_modifiedby:SR|Mark-PC\\Mark
vti_timecreated:TR|22 Feb 2010 12:28:20 -0000
vti_nexttolasttimemodified:TW|22 Feb 2010 14:11:16 -0000
vti_cacheddtm:TX|22 Feb 2010 14:11:16 -0000
vti_filesize:IR|6559
vti_cachedlinkinfo:VX|S|../images/nav_bg.gif S|../images/logo.gif S|../images/content_bullet.png S|../images/intro_bg.gif S|../images/tiny_bullet.png
vti_cachedsvcrellinks:VX|FSUS|images/nav_bg.gif NSUS|images/logo.gif FSUS|images/content_bullet.png FSUS|images/intro_bg.gif FSUS|images/tiny_bullet.png
